li{
	display: inline-block;
	width: 100px;
	margin-left: 30px;
}

a{
	text-decoration: none;
}
p{
	font-size: 16px;
}
span{
	background-color: #3D58A6;
	font-size: 48px;
	color: white;
	margin-top: 200px;
	margin-bottom: 200px;
}
ul{
	display: inline-block;
	list-style: none;
	margin-top: 30px;
	margin-bottom: 95px;
}
h1{	
	color: #EE4036;
	display: inline-block;
}
h2{
	color: #3D58A6;
	font-size: 22px;
	margin-top: 25px;
	margin-bottom: 35px;
}
h3{
	color: #3D58A6;
}
h4{
	font-size: 20px;
	margin-bottom: 40px;
}
footer{
	width: 300px;
	margin-top: 50px;
}
.ups-downs{
	margin-bottom: 20px;
	font-size: 30px;
}
#div1{
	color: #FFFFFF;
	background-image: url(images4/img1.png);
	background-repeat: no-repeat;
	width: 1170px;
	height: 460px;
	margin-bottom: 70px;

}
#responsivewebdesign{
	margin-top: 40px;
}
#appdevelopment{
	vertical-align: top;
	margin-top: 40px;
}
.div-pg2{
		display: inline-block;
		width: 1000px;
}
.img-pg2{
	vertical-align: top;
}
.article-text{
	margin-top: 0px;
	margin-bottom: 20px;
}
#pg3section{
	background-color: #E6E6E6;
	width: 1365px;
	height: 570px;
}
#contact{
	display: inline-block;
	margin-bottom: 300px;
}
#current{
	color: #EE4036;
}
.secondary{
	color: #3D58A6;
}

#blackp{
	color: 000000;
}
#footerline{
	margin-left: 20px;
}
#footeryoutube{
	margin-left: 20px;
}
#footerfb{
	margin-left: 15px;
}
#black{
	color: #000000;
	font-size: 30px;
}
#responsivewebdesign{
	display: inline-block;
	background-color: #E6E6E6;
	width: 570px;
	height: 225px;
}
#appdevelopment{
	display: inline-block;
	background-color: #E6E6E6;
	width: 570px;
	height: 225px;
}
#responsivetext{
	color: #58595B;
	display: inline-block;
	width: 200px;
	margin-left: 20px;
}
#apptext{
	color: #58595B;
	display: inline-block;
	width: 200px;
	margin-left: 20px;
}

#contacttext{
	display: inline-block;
}
#googlemap{
	display: inline-block;
}

/*.contact1{
	color: #808080;
	font-size: 16px;
}
.contact2{
	display: inline-block;
	width: 200px;
}*/